@import "@penpot/plugin-styles/styles.css";

body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  padding: 10px;
}

p {
  margin-block-end: 0.75rem;
}

.app {
  max-width: 300px;
  margin: auto;
  margin-top: var(--spacing-12);
}

#gradient-wrapper {
  aspect-ratio: 1.5;
  max-height: 200px;
  margin-bottom: var(--spacing-12);
  border-radius: var(--spacing-4);
}

#gradient-wrapper > svg {
  max-width: 300px;
  height: 200px;
}

[data-theme="dark"] #gradient-wrapper {
  border: 1px solid var(--db-secondary);
}

[data-theme="light"] #gradient-wrapper {
  border: 1px solid var(--lb-secondary);
}

[data-theme="dark"] input[type="range"] {
  accent-color: var(--da-primary);
}

[data-theme="light"] input[type="range"] {
  accent-color: var(--la-primary);
}

#stop-count {
  font-weight: 500;
}

.full-length {
  display: flex;
  flex-direction: column;
  margin-bottom: var(--spacing-12);
}

.row {
  display: flex;
  gap: var(--spacing-8);
}

.row button {
  flex-grow: 1;
}
